<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <!-- ### Section handler ###-->
   <!-- Every section used in this file must have a registered section handler -->
   <configSections>
      <section name="KukaRoboter.InstallerStrategy" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <location allowOverride="true" inheritInChildApplications="true">
      <KukaRoboter.InstallerStrategy type="KukaRoboter.DeploymentPackage.Installer.InstallerStrategyConfiguration, KukaRoboter.DeploymentPackage">
         <InstallerStrategy DeleteSurplusFiles="true" IgnoreExternalFiles="true">
            <IgnoreFilter>
               <AddFilter Path="KRC:\R1\Folgen\*.*" />
               <AddFilter Path="KRC:\R1\Makros\*.*" />
               <AddFilter Path="KRC:\R1\UPs\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Blindnietmuttern\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Bolzen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\CleanLaser\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Clinchen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Docking\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\EthernetKRL\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Flowdrill\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Kleben\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\MIG-MAG\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Mutterbuckeln\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Nieten\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\POT\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\R_Zange\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Reibelement\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Roboter\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SafeRobot\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\S_Steuerung\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SmartRay\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Stanzen_Mutter\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Schrauben\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Stosspunkten\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\S_Zange\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VirtualAxis\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Vision\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VW_Buersten\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VW_Fehler\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VW_GREI_FEHL\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VW_MUTTERN\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VW_VM_CURRLIM\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VW_WASSER\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\vw_changelog.txt" />
               <AddFilter Path="KRC:\R1\VW_User\vw_tracecollector.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_tracecollector.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_user.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_user.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_r.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_r.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_s.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_s.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_vmlog.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_vmlog.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_wqlimit.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_wqlimit.src" />
               <AddFilter Path="KRC:\R1\System\$config.dat" />
               <AddFilter Path="KRC:\R1\System\bas.src" />
               <AddFilter Path="KRC:\R1\System\ibgn.src" />
               <AddFilter Path="KRC:\R1\System\procparam.dat" />
               <AddFilter Path="KRC:\R1\System\select.dat" />
               <AddFilter Path="KRC:\R1\System\select.src" />
               <AddFilter Path="KRC:\R1\System\sps.sub" />
               <AddFilter Path="KRC:\R1\System\Sps1.sub" />
               <AddFilter Path="KRC:\R1\System\Sps2.sub" />
               <AddFilter Path="KRC:\R1\System\Sps3.sub" />
               <AddFilter Path="KRC:\R1\System\Sps4.sub" />
               <AddFilter Path="KRC:\R1\System\Sps5.sub" />
               <AddFilter Path="KRC:\R1\System\vw.src" />
               <AddFilter Path="KRC:\R1\System\VW_Safety.src" />
               <AddFilter Path="KRC:\R1\System\weav_def.src" />
            </IgnoreFilter>
         </InstallerStrategy>
      </KukaRoboter.InstallerStrategy>
   </location>
</configuration>
