<ArchiveConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="KUKARoboter.Contracts.Archive">
  <Content>
    <ArchiveContentConfiguration>
      <Name>All</Name>
      <Description>Configuration "All" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\System\Common\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Init\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Ir_Spec\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Rdc\</Path>
          </FileSource>
          <FileSource>
            <Path>\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\log\Mastery.log</Path>
          </FileSource>
          <FileSource>
            <Path>C:\KRC\ROBOTER\ProConOS\*.pro</Path>
          </FileSource>
          <FileSource>
            <Path>C:\KRC\ROBOTER\ProConOS\*.zwt</Path>
          </FileSource>
          <FileSource>
            <Path>C:\PROGRAM FILES\KUKA.CPC\apccache\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <LogConfig>
        <ProtokollNames>
          <string>KrcLog</string>
          <string>KrcLogI</string>
          <string>KrcLogU</string>
          <string>KrcLogS</string>
          <string>KrcLogP</string>
          <string>KrcLogB</string>
          <string>KrcLogC</string>
        </ProtokollNames>
      </LogConfig>
      <RegistryConfig>
        <RegistryKeys>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA ROBOTER GMBH\WorkVisual</string>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA Roboter GmbH\Performance\</string>
        </RegistryKeys>
      </RegistryConfig>
      <StoreIncremental>false</StoreIncremental>
      <IsComplete>true</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>ConfigData</Name>
      <Description>Configuration "ConfigData" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\R1\System\</Path>
          </FileSource>
          <FileSource>
            <Path>KRC:\STEU\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Config\System\Common\Mada\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Init\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Ir_Spec\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Rdc\</Path>
          </FileSource>
          <FileSource>
            <Path>\User\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <RegistryConfig>
        <RegistryKeys>
          <string>HKEY_LOCAL_MACHINE\SOFTWARE\KUKA ROBOTER GMBH\WorkVisual</string>
        </RegistryKeys>
      </RegistryConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>Folgen</Name>
      <Description>Configuration "Folgen" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\Folgen\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>LogFiles</Name>
      <Description>Configuration "LogFiles" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters>
          <string>\Roboter\log\*.dmp</string>
        </DefaultExcludeFilters>
        <FileSources>
          <FileSource>
            <Path>\Roboter\log\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <LogConfig>
        <ProtokollNames>
          <string>KrcLog</string>
          <string>KrcLogI</string>
          <string>KrcLogU</string>
          <string>KrcLogS</string>
          <string>KrcLogP</string>
          <string>KrcLogB</string>
          <string>KrcLogC</string>
        </ProtokollNames>
      </LogConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>Makros</Name>
      <Description>Configuration "Makros" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\Makros\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>ProcessParam</Name>
      <Description>Configuration "ProcessParam" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\System\Procparam.dat</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>UPs</Name>
      <Description>Configuration "UPs" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\UPs\</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
    <ArchiveContentConfiguration>
      <Name>VW-User</Name>
      <Description>Configuration "VW-User" from registry. Converted at 12/23/2011 2:42:20 PM.</Description>
      <EmbeddedLogFile>true</EmbeddedLogFile>
      <FileConfig>
        <DefaultExcludeFilters />
        <FileSources>
          <FileSource>
            <Path>KRC:\R1\VW_User\</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Init\VW_Use*.ini</Path>
          </FileSource>
          <FileSource>
            <Path>\Roboter\Init\VW_USR_*.ini</Path>
          </FileSource>
          <FileSource>
            <Path>\User\VW_USER.config</Path>
          </FileSource>
        </FileSources>
      </FileConfig>
      <StoreIncremental>true</StoreIncremental>
      <IsComplete>false</IsComplete>
    </ArchiveContentConfiguration>
  </Content>
  <Path>
    <ArchivePathConfiguration>
      <Name>S_Archive-Cabinet</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>true</Default>
          <Path>E:\Archive.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>S_Archive-KCP</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>true</Default>
          <Path>K:\Archive.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>S_Archive-Net</Name>
      <ArchivePaths />
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>USB-Cabinet</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\Intern.zip</Path>
        </ArchivePath>
        <ArchivePath>
          <Default>true</Default>
          <Path>E:\%ROBNAME%.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
    <ArchivePathConfiguration>
      <Name>USB-KCP</Name>
      <ArchivePaths>
        <ArchivePath>
          <Default>false</Default>
          <Path>D:\Intern.zip</Path>
        </ArchivePath>
        <ArchivePath>
          <Default>true</Default>
          <Path>K:\%ROBNAME%.zip</Path>
        </ArchivePath>
      </ArchivePaths>
    </ArchivePathConfiguration>
  </Path>
</ArchiveConfiguration>